.header {
  background-color: #00BFFF;
  padding: 20px;
  text-align: center;
  color: white;
}

.container1 {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.center__inner-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 0;
}

.item {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.item__image {
  max-width: 100%;
  height: auto;
}

.item {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.item strong {
  display: block; 
  margin-bottom: 10px;
}

.center__span {
  color: gray;
  display: block;
}
